/node_modules/
/.tmp/
/.sass-cache
/bower_components
/app/config/target.config.js
/.idea/workspace.xml
/app/scripts/sneg-license.js
/app/scripts/sneg-license.min.js
/app/scripts/sneg-license.min.js.map
/app/languages/min/
/app/styles/css/sneg-license.css
/app/styles/css/sneg-license.css.map
/app/styles/css/sneg-license.min.css
/app/styles/css/sneg-license.min.css.map
/release/
/test/
/preprod/
/prod/
/app/index.html
